<a href="https://colab.research.google.com/github/Garypythonn/objectspython/blob/master/Capitulo1Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install emoji --upgrade

‚úç‚úç‚úç

#Cap√≠tulo 1, Parte 2

# 1.11. SLICING 
‚ùì ‚ùì ‚ùì
Problema:
Se tiene un registro en forma de string con muchos caracteres que lo hacen dificil de leer y queremos limpiarlo y extraer lo que necesitamos.

In [ ]:

##pos###'012345678901234567890123456789012345678901234567890'
record ='....................100         .......513.25     ..........'

In [ ]:
#SLICING: Extracci√≥n de elementos de objetos(listas, tuplas,strings)
## Forma 1
items=[5,6,10,15,2,0,24,5]

#items[2:6]  #Extrae desde la pos# 2 hasta la pos# 5 (No incluye el elemento de la pos# 6)

#items[3:] #Extrae desde la pos#3 en adelante

#items[1:6:2]  #Extrae desde pos# 1 hasta pos# 5 de a 2 pasos ( uno si, otro no)

In [ ]:
## Forma 2: Creando un slice

s=slice(2,6)  
items[s]

#items[s]=[100,200,300,400]  #Edita los elementos especificados por el slice
#items

#del items[s]   # Borra los elementos espeficidados por el slice
#items


#a=slice(1,6,2)  
#items[a]

##'012345678901234'
#S='hola-para-todos'
#c=slice(5,9)
#S[c]

'para'

In [ ]:
#Obtener informacion de un slice
b=slice(5, 50, 2)

b.start
#b.stop
#b.step

5

In [ ]:
stg='HelloWorld'
b.indices(len(stg))  #Devuelve una tupla con (start, stop, step) donde  los valores del slice se 
                     #ajustan al tama√±o de stg

(5, 10, 2)

In [ ]:
#for i in range(*b.indices(len(stg))):
 # print(stg[i])

W
r
d

In [ ]:
# Convertir strings a n√∫meros (integer o float)

n='12568'
#type(n)
int(n)   # convierte el string n en entero.

#f='3.1415'
#float(f)  # convierte el string f a decimal.

3.1415

In [ ]:
#Solucion Problema: Ejercicio

##pos### '01234567890123456789012345678901234567890123456789012345'
record  ='....................100          .......513.25     ..........'
record1 ='....................    320      .......    1130.26..........'

# 1.12. Determinar los elementos m√°s frecuentes de una secuencia de elementos
‚ùì ‚ùì ‚ùì
Problema:
Se tiene una secuencia de elementos y se desea determinar los elementos que ocurren con mayor frecuencia

In [ ]:

words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]

from collections import Counter  #C mayuscula
word_counts = Counter(words)   #cuenta la frecuencia de las palabras en la lista
top_three = word_counts.most_common(3) #encuentra las tres m√°s frecuentes
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

Counter({'eyes': 1, 'into': 1, 'look': 2, 'my': 1})

In [ ]:
word_counts['not']  #Devuelve la ocurrencia de 'not'
#word_counts['eyes']

8

In [ ]:
# Aumentar palabras y actualizar el contador: Manualmente
morewords = ['why','are','you','not','looking','in','my','eyes']
#for word in morewords:
 # word_counts[word] += 1

#word_counts['eyes']

In [ ]:
# alternativamente

word_counts.update(morewords)

In [ ]:
#Combinar Counters


a = Counter(words)
b = Counter(morewords)

#a
#b

#c = a + b
#c

In [ ]:
#Restar Counters
d = a - b
d

# 1.13. Ordenar una lista de diccionarios por un 'key' en com√∫n.
‚ùì ‚ùì ‚ùì
Problema:
Se tiene una lista de diccionarios y se desea ordenar las entradas de acuerdo a uno o m√°s 'Values'.

In [ ]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

In [ ]:
from operator import itemgetter  # importamos la funcion ittemgetter del modulo operator

rows_by_fname = sorted(rows , key=itemgetter('fname'))  # ordena la lista por el key fname alfabeticamente
                                                       #'fname' es un key en com√∫n en todos los diccionarios
print(rows_by_fname)


#rows_by_uid = sorted(rows, key=itemgetter('uid')) # ordena la lista por el key 'uid' de menor a mayor

#print(rows_by_uid)

[{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [ ]:
rows[1]['fname']

'David'

In [ ]:
# Tambien acepta m√°s de un key

rows_by_lfname = sorted(rows, key=itemgetter('lname','fname'))  #lo orden en primera instancia por el primero y 
                                                                # en caso de igualdad usa el segundo
print(rows_by_lfname)

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}, {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [ ]:
# Se puede aplicar a funciones como min() y max()

min(rows, key=itemgetter('uid'))    #  Devuelve el diccionario cuyo valor en el key 'uid' sea el minimo
#max(rows, key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

# 1.14. Ordenar objetos que no permiten ser comparados
‚ùì ‚ùì ‚ùì
Problema:
Se desea ordenar objetos de la misma clase, pero que no soportan operaciones de comparaci√≥n.

In [ ]:
# clase: Coleccion de objetos con caracteristicas similares. 
class User:
  def __init__(self, user_id):
    self.user_id = user_id
  def __repr__(self):                       
    return 'User({})'.format(self.user_id)  # le da una representaci√≥n legible al objeto

In [ ]:
#Objetos de clase User
User(5)  #objeto de la clase User cuyo id es 5
User(10)

#User(5)<User(10)   #Objetos incomparables

User(10)

In [ ]:
users = [User(23), User(3), User(99)]

from operator import attrgetter
sorted(users, key=attrgetter('user_id'))  # ordena los objetos por el atributo 'user_id'

[User(3), User(23), User(99)]

In [ ]:
#Se puede usar para funciones min() o max()

min(users, key=attrgetter('user_id')  # devuelve el  User de la lista cuyo 'id' sea el menor de todos.

max(users, key=attrgetter('user_id')

# 1.15. Agrupar datos o registros juntos basados en un campo(o entrada).
‚ùì ‚ùì ‚ùì
Problema:
Se tiene una secuencia de diccionarios y se desea iterar sobre los datos en grupos, basados en el valor de un campo en particular, como fecha por ejemplo.

In [ ]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

#Suponga que se desea iterar sobre los datos por pedazos agrupados por 'date'

In [ ]:
from operator import itemgetter
from itertools import groupby  

rows.sort(key=itemgetter('date'))  # ordenamos la lista por 'date' 

for date, items in groupby(rows, key=itemgetter('date')):  #groupby retorna un iterador agrupado por date.
  print(date)
  for i in items:
    print('   ',i)

07/01/2012
    {'address': '5412 N CLARK', 'date': '07/01/2012'}
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
    {'address': '5800 E 58TH', 'date': '07/02/2012'}
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
    {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
    {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
    {'address': '5148 N CLARK', 'date': '07/04/2012'}
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

#1.16. filtrando elmentos de una secuencia
‚ùì ‚ùì ‚ùì
Problema:
Tenemos datos dentro de una sucesi√≥n, y necesitamos extraer sus valores o reducir la sucesi√≥n por medio de alg√∫n criterio.

In [ ]:
#Supongamos que queremos filtrar la siguiente lista generando una lista de positivos y una de negativos:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]


#Forma larga:
pos=[]
for i in range(len(mylist)):
  if (mylist[i]>0):
    pos.append(mylist[i])
pos

[1, 4, 10, 2, 3]

![](https://snipboard.io/PwJSFj.jpg)

In [ ]:
#Forma corta:
[n for n in mylist]
#[n**2 for n in mylist]
#["hola" for n in mylist]

#[n for n in mylist if n > 0]

#[n for n in mylist if n < 0]

['hola', 'hola', 'hola', 'hola', 'hola', 'hola', 'hola', 'hola']

In [ ]:
#Se crea un objeto del tipo generador:
#los objetos del tipo generador se usan para crear un patron de iteraci√≥n arbitrario (alternativo a range(), reversed(),etc):
pos = (n for n in mylist if n > 0)
pos

for x in pos:
  print(x)

1
4
10
2
3

In [ ]:
#Cu√°l ser√≠a la forma larga para el generador anterior?
def frange(start, stop, increment):
  x = start
  while x < stop:
    yield x
    x += increment

In [ ]:
#Funciona????

mylist = [1, 4, -5, 10, -7, 2, 3, -1]
def gen(mylist):
  for i in range(len(mylist)):
    if (mylist[i]>0):
      yield mylist[i]

pos=gen(mylist)

In [ ]:
for x in pos:
  print(x)

In [ ]:
print(emoji.emojize('Funciona!!! :thumbs_up:'))

Funciona!!! üëç

try-except
![](https://snipboard.io/7hVXgn.jpg)

In [ ]:
#Supongamos que el proceso de filtrado implica una excepci√≥n manejo o alg√∫n otro detalle complicado.

values = ['1', '2', '-3', '-', '4', 'N/A', '5']
def is_int(val):
  try:
    x = int(val)
    return True
  except ValueError: #Este es error que nos saltar√≠a en la consola si evaluaramos por ejemplo int('e')
    return False

is_int('2')
is_int('-')
is_int(2)

True

#Funciones de orden superior: Filter,Reduce,Map
![](https://snipboard.io/GFOEMC.jpg)

In [ ]:
#Ejemplo de funci√≥n que recibe como par√°metro otra funci√≥n???

In [ ]:
ivals = list(filter(is_int, values))
print(ivals)

['1', '2', '-3', '4', '5']

In [ ]:
#Discusi√≥n:

#Uso del list comprehension
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
import math
[math.sqrt(n) for n in mylist if n > 0]

[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

In [ ]:
#mylist = [1, 4, -5, 10, -7, 2, 3, -1]
clip_neg = [n if n > 0 else 0 for n in mylist]
clip_neg

#clip_pos = [n if n < 0 else 0 for n in mylist] #Da error.
#clip_pos

[1, 4, 0, 10, 0, 2, 3, 0]

In [ ]:
# Otra funci√≥n de orden superior:
from itertools import compress

In [ ]:
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

In [ ]:
# Lista booleana creada por list comprehension
more5 = [n > 5 for n in counts]
more5

[False, False, True, False, False, True, True, False]

In [ ]:
# una lista de residencias que vamos a relacionar con la lista counts:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]

list(compress(addresses, more5))  #More 5 es un criterio booleano

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

In [ ]:
#Otro ejemplo del uso de compress
x=[1,2,3,4]
y=[False,True,False,False]
list(compress(x,y))

[2]

# 1.17. Extraer un subconjunto de un diccionario.
‚ùì ‚ùì ‚ùì Problema:
Queremos construir un diccionario a partir de otro diccionario m√°s grande.

In [ ]:
#@title
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

# El m√©todo items() se usa para devolver la LISTA (en realidad es un dictionary view... de s√≥lo lectura no mutable, se usa el patron de dise√±o proxy) 
# con todas las claves del diccionario con valores:

prices.items()       #Devuelve: dict_items([('ACME', 45.23), ('AAPL', 612.78), ('IBM', 205.55), ('HPQ', 37.2), ('FB', 10.75)])
#type(prices.items())

#Qu√© se puede hacer con un dictionary view: https://johnlekberg.com/blog/2020-09-19-dict-view.html

In [ ]:
#Ejemplo de p√©rdida de integridad en los datos:
x=[1,2,3]
y=[]
for i in range(len(x)):
  x[i]=2*x[i]
  y.append(x[i])
y

In [ ]:
#Cu√°l es la ventaja de los iteradores sobre los iterables?
https://towardsdatascience.com/understanding-generator-expressions-in-python-fe0c4534619#:~:text=Here%20is%20a%20summary%20of,expressions%20are%20generator%20functions%20shortened.

In [ ]:
# Haga un diccionario de todos los precios mayores que  200.
# Iteraci√≥n doble 
# clave:valor es la estructura de salida... 
p1 = { clave:valor for clave, valor in prices.items() if valor > 200}  
p1

{'AAPL': 612.78, 'IBM': 205.55}

In [ ]:
#Tambi√©n podemos crear el subdiccionario a partir del m√©todo dic()
# Primero creamos un object generator a partir del dictionary view price.items y s√≥lo despu√©s creamos el diccionario:
proto=((key, value) for key, value in prices.items() if value > 200) 
type(proto)
p1 = dict((key, value) for key, value in prices.items() if value > 200) 
p1
#Pero esto gener√≥ m√°s pasos de construcci√≥n:

In [ ]:
# Criterio de selecci√≥n diferente al orden num√©rico:  
#Haga un diccionario y s√≥lo use las claves de prices.items() que est√°n en el CONJUNTO tech_names
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
p2 = { key:value for key,value in prices.items() if key in tech_names }
p2

set

In [ ]:
#Otra forma de obtener el subdiccionario anterior:
#iteraci√≥n simple:
p2 = { key:prices[key] for key in prices.keys() & tech_names } #Hubo una intersecci√≥n de claves.
p2
#Este m√©todo es 1.6 m√°s lento

{'AAPL': 612.78, 'HPQ': 37.2, 'IBM': 205.55}

In [ ]:
prices.keys() & tech_names

{'AAPL', 'HPQ', 'IBM'}

# 1.18. Mapear ("indexar") nombres a elementos de una secuencia:

‚ùì ‚ùì ‚ùì Problema:
Tenemos un c√≥digo que accede a elementos de lista o tupla por posici√≥n, pero esto hace que el c√≥digo
algo dif√≠cil de leer en ocasiones. Tambi√©n nos gustar√≠a ser menos dependiente de la posici√≥n en
la estructura, pudiendo acceder a los elementos por su nombre.

In [ ]:
#Collections.namedtuple() is actually a FACTORY method that returns a subclass of the standard Python tuple type
# namedtuple allows us to provide names to the elements. So we can access elements both by index value or by name.
# collections.namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
from collections import namedtuple

El patr√≥n factory:
![](https://snipboard.io/mxNgZw.jpg)

In [ ]:
Subscriber = namedtuple('Subscribe', ['addr', 'joined'])
sub = Subscriber('jonesy@example.com', '2012-10-19') #Cuando instanciamos tenemos s√≥lo en cuenta el segundo par√°metro.
sub

In [ ]:
Subscriber(addr='jonesy@example.com', joined='2012-10-19')
# Ahora podemos buscar por nombres (no por √≠ndices):
sub.addr 
#sub[0] #igualmente podemos buscar como siempre por √≠ndices.

#sub.joined

'jonesy@example.com'

In [ ]:
#Que operaciones podemos hacer con este objeto?
len(sub)

#Tambi√©n podemos hacer operaciones de desempaquetado (igual que como con una tupla):
# addr, joined = sub

#addr

#joined

In [ ]:
# Supongamos que queremos calcular "el costo" a partir de los elementos 1,2 de una lista de tuplas:

def compute_cost(records):
  total = 0.0
  for rec in records:
      total += rec[1] * rec[2]
  return total

data=[(1,2,3),(4,5,6),(6,7,8)]
compute_cost(data)

92.0

In [ ]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price'])

def compute_cost(records):
  total = 0.0
  for rec in records:
    s = Stock(*rec)  #Creamos una instancia de Stock para poderle agregar los nombres.... por qu√© *?
    total += s.shares * s.price
  return total

compute_cost(data)

92.0

In [ ]:
# Un posible uso de una tupla con nombre es como reemplazo de un diccionario, que requiere m√°s espacio para almacenar.

s = Stock('ACME', 100, 123.45) #instanciamos la clase Stock
s
hex(id(s))

#El problema est√° en si queremos modificar esta "tupla" ya que no es inmutable.
# s.shares = 75

'0x7f7df1d12170'

In [ ]:
s = s._replace(shares=75) #El truco es que s ahora est√° apuntado a otra instancia de la clase Stock.
s
hex(id(s))

'0x7f7df1cfa6b0'

In [ ]:
#Lo anterior no sucede con un objeto mutable
s=[1,2,3]
hex(id(s))

'0x7f7df1d509b0'

In [ ]:
s[0]=20
s
hex(id(s)) #La posici√≥n en memoria se conserva

'0x7f7df1d509b0'

In [ ]:
#Un uso sutil del m√©todo _replace() es que puede ser una forma conveniente de COMPLETAR
#tuplas con nombre que tienen campos opcionales o faltantes. Para hacer esto, haces un prototipo.
#tupla que contiene los valores predeterminados y luego usa _replace() para crear nuevas instancias
#con valores reemplazados. Por ejemplo:

In [ ]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])

stock_prototype = Stock('', 0, 0.0, None, None) #Instancia con campos vac√≠os

#Funci√≥n que registra los cambios de valores que queremos hacer a la tupla:
def dict_to_stock(s):
  return stock_prototype._replace(**s)  #Kwags

In [ ]:
#En el caso general, el reemplazo anterior vendr√° en forma de diccionario:
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
dict_to_stock(a) # De nuevo hay truco!

#b = {'name': 'ACME', 'shares': 100, 'price': 123.45, 'date': '12/17/2012'} #Otros reemplazos para el stock prototipo
#dict_to_stock(b)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

# 1.19. Transformando y reduciendo los datos al mismo tiempo
‚ùì ‚ùì ‚ùì  Problema:
Queremos ejecutar una funci√≥n de reducci√≥n (e.g., sum(), min(), max()) pero primero queremos transofrmar o fliltrar los datos.

In [ ]:
#Dada una lista, queremos SUMAR sus CUADRADOS:
nums = [1, 2, 3, 4, 5]
s = sum(x * x for x in nums)
s

55

In [ ]:
transf = (x * x for x in nums)
transf
#sum(transf)

55

In [ ]:

# Determinar si un archivo .py existe en un directorio (por ejemplo mi escritorio)
# La transformaci√≥n es booleanizar y la reducci√≥n es usar la funci√≥n any
import os
files = os.listdir('dirname')
if any(name.endswith('.py') for name in files):
  print('There be python!')
else:
  print('Sorry, no python.')

In [ ]:
# Convertir una tupla a un string separado por comas:

s = ('ACME', 50, 123.45)
print(','.join(str(x) for x in s))

ACME,50,123.45

In [ ]:
#Qu√© hace join (o sea nuestro reductor)?????
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

In [ ]:
s = ('ACME', 50, 123.45)
strr=(str(x) for x in s) #Aqu√≠ es donde transformamos la tupla.
strr

#','.join(strr)

In [ ]:
# Data reduction across fields of a data structure
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL', 'shares': 20},
{'name':'SCOX', 'shares': 65}
]

min_shares = min(s['shares'] for s in portfolio)

In [ ]:
s = sum((x * x for x in nums)) # Pasamos generator-expr como argumento
s = sum(x * x for x in nums) # A√∫n m√°s corto

In [ ]:
#Original: Returns 20
min_shares = min(s['shares'] for s in portfolio)
# Alternative: Returns {'name': 'AOL', 'shares': 20}
min_shares = min(portfolio, key=lambda s: s['shares'])

In [ ]:
### https://www.geeksforgeeks.org/with-statement-in-python/

#1.20. Combinar varios mapeos(diccionarios) en uno solo
‚ùì ‚ùì ‚ùì Problema:
Tenemos varios diccionarios o asignaciones que deseamos combinar l√≥gicamente en un
mapeo(diccionario) √∫nico para realizar ciertas operaciones, como buscar valores o verificar la existencia de llaves.

In [ ]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }

In [ ]:
from collections import ChainMap
c = ChainMap(a,b)

#  Un ChainMap toma m√∫ltiples asignaciones y las hace aparecer l√≥gicamente como una sola. Sin embargo,
#las asignaciones no se fusionan literalmente. En cambio, un ChainMap simplemente mantiene una lista
#de las asignaciones subyacentes y redefine las operaciones comunes del diccionario para escanear el
#lista.

print(c)

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})

In [ ]:
print(c['x']) 
#print(c['y'])  
#print(c['z'])

1

In [ ]:
len(c)

#list(c.keys())
#list(c.values())

3

In [ ]:
#Modificaci√≥n de claves:
c['z'] = 10 #modificaci√≥n de valor de una clave que ya existe
c['w'] = 40 #agregado una clave nueva
c

ChainMap({'z': 10, 'w': 40}, {'y': 2, 'z': 4})

In [ ]:
#Borrado de la clave x
#del c['x']
c
#Qu√© pasa ahora si llamamos al primer y segundo diccionario? Originalmente era a = {'x': 1, 'z': 3 }
a # va a aparecer modificado.

#del c['y'] #Al no ser una clave del primer diccionario no se modifica y la lanza un error

{'w': 40, 'z': 10}

In [ ]:
values = ChainMap() 

values

ChainMap({})

In [ ]:
values['x'] = 1
values

ChainMap({'x': 1})

In [ ]:
# Add a new mapping
values = values.new_child()
values #El padre es el segundo diccionario.

ChainMap({}, {'x': 1})

In [ ]:
values['x'] = 2
values #Se va a llenar en nuevo child como la clave x y el valor 2. No hay conflicto en que ambas claves se llamen x-

ChainMap({'x': 2}, {'x': 1})

In [ ]:
values['x'] = 3

ChainMap({'x': 3}, {'x': 2}, {'x': 1})

In [ ]:
#Qu√© valor arroja al buscar por la clave 'x'?
values=ChainMap({'x': 3}, {'x': 2}, {'x': 1})

values['x']

3

In [ ]:
values.parents #Atributo

ChainMap({'x': 2}, {'x': 1})

In [ ]:
# Discard last mapping
values = values.parents #Se queda con los padres del √∫ltimo diccionario creado 
values['x']

2

In [ ]:
values

ChainMap({'x': 2}, {'x': 1})

In [ ]:
#Se puede desempaquetar?
a,b=values

In [ ]:
# Volviendo a desechar el √∫ltimo hijo
values = values.parents
values['x']
values

ChainMap({'x': 1})

In [ ]:
#Una alternativa a Chainmap para fusionar diccionarios es el m√©todo update()
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
merged=b
merged.update(a)
merged

{'x': 1, 'y': 2, 'z': 3}

In [ ]:
#Qu√© pasa si actualizamos uno de los diccionarios originales?
a['x'] = 13
a
#merged['x'] #El diccionario fusionado no se actualiza!

{'x': 13, 'z': 3}

In [ ]:
#Sucede lo mismo con Chainmap?
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
merged = ChainMap(a, b)
merged['x']

a['x'] = 42 #cambiando el valor de 'x' el diccionario a
merged['x'] #En este caso s√≠ cambia.

42

In [ ]:
import emoji
print(emoji.emojize('Phd is very easy!!! :thumbs_up:'))

Phd is very easy!!! üëç

üßÆ

In [ ]:
#Aplicaci√≥n en un carro de compras:
shirts = { "camisa" : 500, "esqueleto" : 1000, "camiseta" : 100 }
pants = { "shorts" : 300, "pantaloneta" : 150 }

In [ ]:
chain = ChainMap(shirts, pants)
chain #Puedo formar un compilado de todos los art√≠culos

ChainMap({'camisa': 500, 'esqueleto': 1000, 'camiseta': 100}, {'shorts': 300, 'pantaloneta': 150})

In [ ]:
cart = { "esqueleto" : 3, "pantaloneta" : 4 } 

total = 0
for k,v in cart.items(): #recorremos las claves 'k' que surgen el carrito de compras.
  total += chain[k] * v  # 1000x3 + 150x4
 

print(total)

#Para ver la ejecuci√≥n del ciclo visite: https://pythontutor.com/render.html#code=from%20collections%20import%20ChainMap%0A%0Ashirts%20%3D%20%7B%20%22camisa%22%20%3A%20500,%20%22esqueleto%22%20%3A%201000,%20%22camiseta%22%20%3A%20100%20%7D%0Apants%20%3D%20%7B%20%22shorts%22%20%3A%20300,%20%22pantaloneta%22%20%3A%20150%20%7D%20%0A%0Achain%20%3D%20ChainMap%28shirts,%20pants%29%0Achain%20%23Puedo%20formar%20un%20compilado%20de%20todos%20los%20art%C3%ADculos%0A%0Acart%20%3D%20%7B%20%22esqueleto%22%20%3A%203,%20%22pantaloneta%22%20%3A%204%20%7D%20%0A%0Atotal%20%3D%200%0Afor%20k,v%20in%20cart.items%28%29%3A%20%23recorremos%20las%20claves%20'k'%20que%20surgen%20el%20carrito%20de%20compras.%0A%20%20total%20%2B%3D%20chain%5Bk%5D%20*%20v%20%20%23%201000x3%20%2B%20150x4%0A%20%0A%0Aprint%28total%29&cumulative=false&curInstr=13&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false

3600

In [ ]:
#Uso: comportamiento por defecto 

personal={}   # El usuario no puso apodo al registrarse y por eso el diccionario de registro qued√≥ vac√≠o
porDefecto={"apodo": "UsuarioRandom"}

chain = ChainMap(personal,porDefecto)
print(chain['apodo'])

UsuarioRandom

In [ ]:
#Pero si el usuario s√≠ ingresa un nickmane:

personal={"apodo": "Michael Jordan"}   # Esta vez s√≠ puso apodo
porDefecto={"apodo": "UsuarioRandom"}

chain = ChainMap(personal,porDefecto)
print(chain['apodo'])

Michael Jordan